<!doctype html>
<!--
  ~ Copyright (c) 2016-2018
  ~ J. Melzer
  -->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Jitty</title>
    <link rel="stylesheet" href="css/angular-bootstrap.css" >
    <link rel="stylesheet" href="css/app.css" >
    <link rel="stylesheet" href="css/bootstrap-duallistbox.css">
    <link rel="stylesheet" href="js/ui-grid/ui-grid.css">
    <link rel="stylesheet" href="js/flash/angular-flash.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="jitty" ng-cloak class="ng-cloak">
<div ng-controller="LoginController as nav" class="container-fluid mycontainer" style="margin-bottom: 10px;">
    <ul class="nav nav-pills" role="tablist">
        <li class="active"><a href="#/">home</a></li>
        <li ng-show="!nav.authenticated()"><a href="/#/login">login</a></li>

        <li ng-show="nav.authenticated()"><a href="/#/users">Benutzer</a></li>
        <li ng-show="nav.authenticated()"><a href="/#/tournaments">Turnierdaten</a></li>
        <li ng-show="nav.authenticated()"><a href="/#/players">Spieler</a></li>
        <li ng-show="nav.authenticated()"><a href="/#/draw-select-class">Auslosung</a></li>
        <li ng-show="nav.authenticated()"><a href="/#/tournamentdirector/overview">Begegnungen</a></li>
        <li ng-show="nav.authenticated()"><a href="/#/liveview/overview">Liveview</a></li>
        <li ng-show="nav.authenticated()" style="float: right"><a name="logout" href="" ng-click="nav.logout()">Abmelden</a></li>
        <li ng-show="nav.authenticated()" style="float: right"><a name="tablesettings" href="/#/settings/table">Einstellungen</a></li>
    </ul>
</div>

<div ng-view class="container-fluid mycontainer"></div>
<footer class="footer container-fluid mycontainer">
    <div class="top-footer-links">
        <a href="/about">&Uuml;ber</a>
        <a href="/tour">Tour</a>
        <a href="/help">Hilfe</a>
        <b><a href="mailto:jitty.info@gmail.com">Kontakt</a></b>
        <a style="float: right" href="https://github.com/chokdee/jitty">Github Projekt</a>

    </div>
    <p class="text-muted">
        Copyright © 2018 J. Melzer. All rights reserved.
    </p>
</footer>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="js/ui-bootstrap.js" type="text/javascript"></script>
<script src="js/jquery.bootstrap-duallistbox.js"></script>
<script src="js/angular-bootstrap-duallistbox.js" type="text/javascript"></script>
<script src="js/angular-drag-and-drop-lists.js" type="text/javascript"></script>
<script src="js/ui-grid/ui-grid.min.js"></script>
<script src="js/flash/angular-flash.min.js"></script>
<script src="js/angular-confirm/angular-confirm.js"></script>
<script src="js/fileupload/angular-file-upload.js"></script>
<!--<script src="js/external/angular-dragdrop.js"></script>-->

<script src="components/login/auth.js" ></script>
<script src="components/login/login.js" ></script>
<script src="components/app.js"></script>
<script src="components/services.js"></script>
<script src="components/directives.js"></script>
<script src="components/user/userModule.js"></script>
<script src="components/user/userController.js"></script>
<script src="components/user/userService.js"></script>
<script src="components/tournament/tournamentModule.js"></script>
<script src="components/tournament/tournamentController.js"></script>
<script src="components/tournament/tournamentService.js"></script>
<script src="components/player/playerModule.js"></script>
<script src="components/player/playerController.js"></script>
<script src="components/player/playerService.js"></script>
<script src="components/draw/drawModule.js"></script>
<script src="components/draw/drawController.js"></script>
<script src="components/draw/drawService.js"></script>
<script src="components/running/runningModule.js"></script>
<script src="components/running/runningController.js"></script>
<script src="components/running/runningService.js"></script>
<script src="components/liveview/liveviewModule.js"></script>
<script src="components/liveview/liveviewService.js"></script>
<script src="components/liveview/liveviewController.js"></script>
<script src="components/settings/settingsModule.js"></script>
<script src="components/settings/settingsController.js"></script>
<script src="components/util/utilModule.js"></script>
<script src="components/util/print.js"></script>

</body>
</html>