<div class="form-style-2">
    <div class="form-style-2-heading">Benutzerinformationen eingeben</div>
      <form name="userForm" class="container ng-scope ng-pristine ng-invalid ng-invalid-required" novalidate=""  >

        <div class="control-group">
            <label for="loginName"><span>Login-Name <span class="required">*</span></span></label>
            <input type="text" ng-model="user.loginName" name="loginName" required id="loginName"
                   class="form-control ng-pristine ng-invalid ng-invalid-required"/>
            <div class="clearfix">
                <div ng-messages="userForm.loginName.$error" ng-if="userForm.$submitted || userForm.loginName.$dirty"
                     class="error-messages slide-right">
                    <div ng-message="required" class="message slide-left">Bitte einen Login-Namen eingeben</div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label for="name"><span>Name <span class="required">*</span></span></label>
            <input type="text" ng-model="user.name" name="name" required id="name"
                   class="form-control ng-pristine ng-invalid ng-invalid-required"/>
            <div class="clearfix">
                <div ng-messages="userForm.name.$error" ng-if="userForm.$submitted || userForm.name.$dirty"
                     class="error-messages slide-right">
                    <div ng-message="required" class="message slide-left">Bitte einen Namen für den Benutzer eingeben</div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label for="input_email_address">E-Mail:</label>
            <input class="form-control ng-pristine ng-invalid ng-valid-email"
                   type="email" name="input_email_address" ng-model="user.email" id="input_email_address"/>
            <div class="clearfix">
                <div ng-messages="userForm.input_email_address.$error"
                     class="error-messages slide-right">
                    <div ng-message="email" class="message slide-left">Bitte eine korrekte E-Mail eingeben</div>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label for="input_password"><span>Passwort <span class="required">*</span></span></label>
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength"
                   name="input_password" id="input_password" ng-model="user.password" ng-minlength="6" ng-maxlength="12"
                   password-characters-validator="" required="" type="password"/>
            <div class="clearfix">
                <div ng-messages="userForm.input_password.$error" ng-if="userForm.$submitted || userForm.input_password.$dirty"
                     class="error-messages slide-right">
                    <div ng-message="password-characters" class="message slide-left">Format</div>
                    <div ng-message="required" class="message slide-left">Bitte das Passwort eingeben</div>
                    <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match</div>
                </div>
            </div>

        </div>

        <div class="control-group">
            <label for="input_password_confirm">Confirm your password:</label>
            <input class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-minlength"
                   name="input_password_confirm" id="input_password_confirm" ng-model="data.password_confirm" ng-minlength="6"
                   ng-maxlength="12" password-characters-validator="" match-password="input_password" ng-required="true"
                   type="password"/>
            <div class="clearfix">
                <div ng-messages="userForm.input_password_confirm.$error" ng-if="userForm.$submitted || userForm.input_password_confirm.$dirty"
                     ng-messages-multiple="ng-messages-multiple" class="error-messages slide-right">
                    <div ng-message="password-characters" class="message slide-left">Format</div>
                    <div ng-message="required" class="message slide-left">Bitte das Passwort wiederholen</div>
                    <div ng-message="passwordMatch" class="message slide-left">Your passwords did not match</div>
                </div>
            </div>
        </div>
        <input type="submit" value="Speichern" ng-click="saveNewUser()"/>
    </form>


</div>