<div class="form-style-2">
    <div class="form-style-2-heading">Spieler eingeben</div>
    <form name="playerForm" class="container ng-scope ng-pristine ng-invalid ng-invalid-required" novalidate="" ng-submit="savePlayer()">
        <div class="row">
            <div class="col-md-5">
                <div class="control-group">
                    <label for="firstName">Vorname <span class="required">*</span></label>
                    <input type="text" ng-model="player.firstName" name="firstName" required id="firstName"
                           class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="playerForm.firstName.$error" ng-if="playerForm.$submitted || playerForm.firstName.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required">Bitte einen Vornamen eingeben</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="lastName"><span>Nachname <span class="required">*</span></span></label>
                    <input type="text" ng-model="player.lastName" name="lastName" required id="lastName"
                           class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="playerForm.lastName.$error" ng-if="playerForm.$submitted || playerForm.lastName.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Nachnamen eingeben</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="birthday"><span>Geburtstag <span class="required">*</span></span></label>
                    <div class="input-group">
                        <input name=birthday" id="birthday" type="text" uib-datepicker-popup="{{format}}" ng-model="birthdate" is-open="popup1.opened"
                               ng-required="true" close-text="Schließen" clear-text="Zurücksetzen" current-text="Heute"
                               datepicker-options="dateOptions" alt-input-formats="altInputFormats" class="form-control"
                        />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                    <div class="clearfix">
                        <div ng-messages="playerForm.birthday.$error" ng-if="playerForm.$submitted || playerForm.birthday.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Wert eingeben</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="gender">Geschlecht</label>
                    <div>
                        <input type="radio" ng-model="player.gender" name="gender" id="gender" value="w" ng-required="!player.gender"/> Frau<br>
                        <input type="radio" ng-model="player.gender" name="gender2" id="gender2" value="m" ng-required="!player.gender"/> Mann<br>
                    </div>
                    <div class="clearfix">
                        <div ng-messages="playerForm.gender.$error" ng-if="playerForm.$submitted || playerForm.gender.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Wert auswählen </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <!--<p>Assoc {{player.association}}</p>-->
                <div class="control-group">
                    <label for="clubinput">Verband</label>
                    <ui-select id="associnput" ng-model="player.association">
                        <ui-select-match placeholder="Einen Verband aussuchen">{{$select.selected.longName}}</ui-select-match>
                        <ui-select-choices repeat="association in associations">
                            <span ng-bind="association.longName"></span>
                        </ui-select-choices>
                    </ui-select>

                </div>
                <div class="control-group">
                    <!--<p>club {{player.club}}</p>-->
                    <label for="clubinput">Verein</label>
                    <ui-select id="clubinput" ng-model="player.club">
                        <ui-select-match placeholder="Einen Verein aussuchen">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="club in clubs">
                            <span ng-bind="club.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="control-group">
                    <label for="qttr">QTTR</label>
                    <input type="number" ng-model="player.qttr" name="qttr" required id="qttr" class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="playerForm.qttr.$error" ng-if="playerForm.$submitted || playerForm.qttr.$dirty" class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen gültigen QTTR-Werteingeben</div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label for="input_email_address">E-Mail:</label>
                    <input class="form-control ng-pristine ng-invalid ng-valid-email" type="email" name="input_email_address" ng-model="player.email" id="input_email_address"/>
                    <div class="clearfix">
                        <div ng-messages="playerForm.input_email_address.$error" class="error-messages slide-right">
                            <div ng-message="email" class="message slide-left">Bitte eine korrekte E-Mail eingeben</div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <!--todo add phone pattern here-->
                    <label for="input_mobile_number">Mobilnummer</label>
                    <input class="form-control ng-pristine ng-invalid " type="text" name="input_mobile_number" ng-model="player.mobileNumber" id="input_mobile_number"/>
                    <div class="clearfix">
                        <div ng-messages="playerForm.input_mobile_number.$error" class="error-messages slide-right">
                            <div ng-message="email" class="message slide-left">Bitte eine korrekte Telefonnummer eingeben</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <h4>Turnierklassen</h4>
            <br>

            <div class="container">
                <!--<p>{{player.classes}}</p>-->
                <select
                        ng-model="player.classes"
                        ng-options='cp as (cp.name + " - " + cp.startTTR + " -> " + cp.endTTR) for cp in possibleClasses track by cp.id'
                        multiple
                        bs-duallistbox
                        bootstrap2="{{ settings.bootstrap2 }}"

                        move-on-select="{{ settings.moveOnSelect }}"
                        preserve-selection="{{ settings.preserveSelection }}"

                        move-selected-label="{{ settings.moveSelectedLabel }}"
                        move-all-label="{{ settings.moveAllLabel }}"
                        remove-selected-label="{{ settings.removeSelectedLabel }}"
                        remove-all-label="{{ settings.removeAllLabel }}"

                        non-selected-list-label="{{ settings.nonSelectedListLabel }}"
                        selected-list-label="{{ settings.selectedListLabel }}"

                        postfix="{{ settings.postfix }}"
                        select-min-height="{{ settings.selectMinHeight }}"

                        filter="{{ settings.filter }}"
                        info-all="{{ settings.infoAll }}"
                        info-filtered="{{ settings.infoFiltered }}"
                        info-empty="{{ settings.infoEmpty }}"
                >
                </select>

            </div>
        </div>
        <br>
        <br>
        <!--todo add pick list-->
        <input name="submit" type="submit" value="Speichern"/>
    </form>

</div>