<!--
  ~ Copyright (c) 2018.
  ~ J. Melzer
  -->

<div class="row">
    <div class="col-md-10">
        <div ng-repeat="item in tables[0]" class="col-md-6 tableitem">
            <div class="">{{item.name}}</div>
        </div>
    </div>
</div>
<div class="row" style="min-height: 20px">
</div>
<div class="tablelist row">

    <div class="col-md-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Verf. Tische</h3>
            </div>
            <ul dnd-list="models.lists.A" class="itemlist">
                <li ng-repeat="item in models.lists.A"
                    dnd-draggable="item"
                    dnd-horizontal-list="true"
                    dnd-moved="models.lists.A.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Geplante Tische</h3>
            </div>
            <ul dnd-list="models.lists.B" class="itemlist"
                dnd-drop="dropCallback(index, item, external, type)">
                <li ng-repeat="item in models.lists.B"
                    dnd-draggable="item"
                    dnd-horizontal-list="true"
                    dnd-moved="models.lists.B.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}">
                    {{item.label}}
                </li>
            </ul>
        </div>
    </div>
</div>


<!--</div>-->

<!--<div class="col-md-8">
    <div class="row">
        <div ng-repeat="(listName, list) in models.lists" class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{listName == 'A' ? "Verfügbare Tische" : "Geplante Tische"}}</h3>
                </div>
                <div class="panel-body" ng-include="'components/settings/tables-container.html'"></div>
            </div>
        </div>
    </div>


</div>
-->
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Generated Model</h3>
        </div>
        <div class="panel-body">
            <pre class="code">{{modelAsJson}}</pre>
        </div>
    </div>
</div>

</div>