<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Ergebnis eingeben</h3>

    </div>
    <div class="modal-body">

        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h4>Spiel-Klasse: {{game.group.tournamentClass.name}}</h4>
                </div>
                <div class="col-md-5">
                    <h4>Gruppe: {{game.group.name}}</h4>
                </div>
            </div>
            <br>
            <!--<pre>{{sets}}</pre>-->
            <div class="row">
                <div class="col-md-3">
                    <span style="font-weight: bold">Spieler 1: </span><span>{{game.player1.fullName}}</span>
                </div>
                <div ng-repeat="g in sets" class="col-md-1">
                    <span>{{g.points1}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span style="font-weight: bold">Spieler 2: </span><span>{{game.player2.fullName}}</span>
                </div>
                <div ng-repeat="g in sets" class="col-md-1">
                    <span>{{g.points2}}</span>
                </div>
            </div>
            <br>
            <!--<pr>{{sets}}</pr>-->
            <div class="row">
                <div class="col-md-5">
                    <div class="control-group">
                        <label for="gameResult">Ergebnis</label>
                        <input type="text" ng-model="gameResult" name="gameResult" id="gameResult"
                               class="form-control ng-pristine ng-invalid "/>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="control-group">
                        <label for="winbydefault"></label>
                        <br>
                        <input id="winbydefault" type="checkbox" ng-model="game.winbydefault" name="winbydefault"/> Kampflos
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btnOk" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<br/>
<div ng-if="errorMessage" class="alert alert-danger">
    <span>Fehler: <em>{{errorMessage}}</em></span>
</div>
<div class="col-md-6" id="overview-lists">
    <div class="row">
        <h4 style="float:left">Mögliche Begegnungen</h4>
        <a style="float:right" class="btn btn-primary btn-sm" id="assignFreeTables"  ng-click="startPossibleGames()">Freie Tische belegen</a>
    </div>
    <div class="row" ng-show="finishedTC" style="font-size: medium">
        <pr>Es gibt eine Klasse zum Auslosen.</pr>
        <a href="{{'/#/draw/' + finishedTC}}">Hier klicken</a>
        <br/>
    </div>
    <div class="row">
        <div ui-grid="gridOptions" class="myGrid"></div>
    </div>
    <div class="row">
        <h4>Laufende Begegnungen</h4>
    </div>
    <div class="row">
        <div ui-grid="gridOptionsRunning" class="myGrid"></div>
    </div>
    <div class="row">
        <h4>Beendet</h4>
    </div>
    <div class="row">
        <div ui-grid="gridOptionsFinished" class="myGrid"></div>
    </div>
</div>
<div class="col-md-6">
    <div class="col-md-12">
        <div class="row" style="margin-left: 4px">
            <h4>Tische</h4>
        </div>
        <div class="row"style="margin-left: 4px" >
            <label for="tablecount">Anzahl der Tische<span class="required">*</span></label>
            <form name="tableCountForm" novalidate="" ng-submit="saveTableCount()">
                <input type="text" ng-model="tables.length" name="tablecount" required id="tablecount" style="width: 30%" ng-init="24"/>
                <input name="submit" type="submit" value="Ändern"/>
            </form>
        </div>
        <br/>
        <div class="row" style="font-size: large">
            <div ng-repeat="items in range(1,tables.length) track by $index" ng-init="tableIndex = $index">
                <div class="col-md-4">
                    <div class="tt-table">
                        <div class="table-nr">{{tableIndex+1}}</div>
                        <div class="table-n1">{{tables[tableIndex].game.player1.fullName == null ? '&nbsp;' : tables[tableIndex].game.player1.fullName}}</div>
                        <hr size="1"/>
                        <div class="table-n1">{{tables[tableIndex].game.player2.fullName == null ? '&nbsp;' : tables[tableIndex].game.player2.fullName}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
