<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Schiedsrichterzettel</title>
    <link href="../../css/app.css" rel="stylesheet">
    <link href="../../css/print.css" rel="stylesheet">
    <style type="text/css" media="print">
        @page {
            size: auto;   /* auto is the initial value */
            margin: 0;  /* this affects the margin in the printer settings */
        }
    </style>
</head>
<body>
<div class="sr-center-block sr-border">
    <h2 >Schiedsrichterzettel</h2>
    <div class="sr-center-block sr-inner-block" >
        <div class="row">Klasse: {{game.tcName}}</div>
        <div class="row">
            <div class="my-md-6">
                Gruppe {{game.group.name}}
            </div>
            <div class="my-md-4" style="text-align: right">
                Tisch 13
            </div>
        </div>
        <br>
        <br>
        <div class="row" >
            <table class="sr-table sr-table-player" border="1">
                <thead>
                <tr>
                    <th >A</th>
                    <th >B</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td >{{game.player1.fullName}}</td>
                    <td >{{game.player2.fullName}}</td>
                </tr>
                <tr>
                    <td >&nbsp;</td>
                    <td >&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            <table class="sr-table">
                <thead>
                <tr>
                    <th class="sr-set-col"></th>
                    <th class="sr-winner-col">Gewinner</th>
                    <th class="sr-points-col">Bälle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="sr-set-col">1. Satz</td>
                    <td class="sr-winner-col">&nbsp;</td>
                    <td class="sr-points-col">&nbsp;</td>
                </tr>
                <tr>
                    <td class="sr-set-col">2. Satz</td>
                    <td class="sr-winner-col">&nbsp;</td>
                    <td class="sr-points-col">&nbsp;</td>
                </tr>
                <tr>
                    <td class="sr-set-col">3. Satz</td>
                    <td class="sr-winner-col">&nbsp;</td>
                    <td class="sr-points-col">&nbsp;</td>
                </tr>
                <tr>
                    <td class="sr-set-col">4. Satz</td>
                    <td class="sr-winner-col">&nbsp;</td>
                    <td class="sr-points-col">&nbsp;</td>
                </tr>
                <tr>
                    <td class="sr-set-col">5. Satz</td>
                    <td class="sr-winner-col">&nbsp;</td>
                    <td class="sr-points-col">&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
            <h4 style="text-align: center">Endergebnis</h4>
            <table class="sr-table sr-table-player" border="1">
                <thead>
                <tr>
                    <th style="width: 70%">Sieger</th>
                    <th>Sätze</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div class="row">Unterschriften:</div>
        <br>
        <br>
        <div class="row">
            <div class="sr-sign-left" >
                &nbsp;
            </div>
            <div class="sr-sign-right" >
                &nbsp;
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>