</br>
<div class="row">
    <flash-message name="flash-status"></flash-message>
</div>
<!--suppress HtmlFormInputWithoutLabel -->
<a name="create" ng-click="createNewPlayer()" class="btn-primary btn" style="top:20px;">Neuen Spieler anlegen</a>

<input class="btn-primary btn" type="file" nv-file-select uploader="uploader"/><br/>
<ul>
    <li ng-repeat="item in uploader.queue">
        Name: <span ng-bind="item.file.name"></span><br/>
        <button ng-click="item.upload()">upload</button>
    </li>
</ul>

<h3>Alle Spieler</h3>

<table class="table usertable">
    <thead>
    <tr>
        <th>
            <a href="" ng-click="order('firstname')">Vorname</a>
        </th>
        <th>
            <a href="" ng-click="order('lastname')">Nachname</a>
        </th>
        <th>
            <a href="" ng-click="order('clubname')">Verein</a>
        </th>
        <th>
            <a href="" ng-click="order('association')">Verband</a>
        </th>
    </tr>
    </thead>
    <tr>
        <td><input type="text" ng-model="search.name"/></td>
    </tr>
    <tr ng-repeat="t in players| orderBy:predicate:reverse | filter:paginate| filter:search">
        <td>{{t.firstName}}</td>
        <td>{{t.lastName}}</td>
        <td>{{t.club.name}}</td>
        <td>{{t.association.shortName}}</td>
        <td>
            <a name="{{'edit'+t.id}}" class="btn btn-primary" href="#/players/{{t.id}}">Bearbeiten</a>
        </td>
    </tr>
</table>

