<div class="form-style-2">
    <div class="form-style-2-heading">Turnierklasse bearbeiten</div>
    <form name="tournamentClassForm" class="container ng-scope ng-pristine ng-invalid ng-invalid-required" novalidate="" ng-submit="saveTournamentClass()">
        <div class="row">
            <div class="col-md-5">
                <div class="control-group">
                    <label for="name"><span>Name <span class="required">*</span></span></label>
                    <input type="text" ng-model="tournamentClass.name" name="name" required id="name"
                           class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="tournamentClassForm.name.$error" ng-if="tournamentClassForm.$submitted || tournamentClassForm.name.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Namen eingeben</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="startTTR"><span>Von TTR (0 für offen) <span class="required">*</span></span></label>
                    <input type="text" ng-model="tournamentClass.startTTR" name="startTTR" required id="startTTR"
                           class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="tournamentClassForm.startTTR.$error" ng-if="tournamentClassForm.$submitted || tournamentClassForm.startTTR.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Startwert eingeben</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="endTTR"><span>Bis TTR (3000 für offen) <span class="required">*</span></span></label>
                    <input type="text" ng-model="tournamentClass.endTTR" name="endTTR" required id="endTTR"
                           class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                    <div class="clearfix">
                        <div ng-messages="tournamentClassForm.endTTR.$error" ng-if="tournamentClassForm.$submitted || tournamentClassForm.endTTR.$dirty"
                             class="error-messages slide-right">
                            <div ng-message="required" class="message slide-left">Bitte einen Endwert eingeben</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="control-group">
                    <label for="open">Startberechtigung für</label>
                     <input type="checkbox" ng-model="tournamentClass.openForMen" name="open-w"/>  Herren
                    <input type="checkbox" ng-model="tournamentClass.openForWomen" name="open-m"/>  Damen
                </div>
            </div>
        </div>
        <input type="submit" value="Speichern"/>
    </form>


</div>