/*
 * Copyright (c) 2018.
 * J. Melzer
 */

.usertable tr td:nth-child(2) {
    width: 250px;
}

.usertable tr:nth-child(1) td {
    border-top: none;
}

.control-group {
    margin-bottom: 20px;
}

.error-messages.ng-active {
    background: maroon;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    position: relative;
}

.error-messages.ng-active:after {
    position: absolute;
    top: -10px;
    content: "";
    left: 20px;
    border-style: solid;
    border-color: transparent transparent maroon;
    border-width: 5px;
}

.form-style-2 {
    max-width: 80%;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 5px 0px;
}

.form-style-2 label > span {
    /*width: 200px;*/
    /*font-weight: bold;*/
    /*float: left;*/
    /*padding-top: 8px;*/
    /*padding-right: 5px;*/
}

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 40px;
    text-align: center;
}

.form-style-2 input.input-field {
    width: 48%;

}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}

.form-style-2 .input-field:focus,
.form-style-2 .tel-number-field:focus,
.form-style-2 .textarea-field:focus,
.form-style-2 .select-field:focus {
    border: 1px solid #0C0;
}

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #FF8500;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
    background: #EA7B00;
    color: #fff;
}

.select2 > .select2-choice.ui-select-match {
    /* Because of the inclusion of Bootstrap */
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}

.playerlist {
    overflow: scroll;
    height: 400px;
    border: 1px solid;
}

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.playerlist ul[dnd-list],
ul[dnd-list] > li {
    position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.playerlist ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.playerlist ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.playerlist ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.playerlist ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    font-size: smaller;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.playerlist ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.dropzone li {
    display: block;

}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.dropzone .dndDragging {
    opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.dropzone .dndPlaceholder {
    background-color: #ddd !important;
    min-height: 42px;
    display: block;
    position: relative;
}

.dropzone .group-list > li {
    border: none;
    float: left;
    width: 150px;
    /*min-height: 450px;*/
}

/***************************** Element type specific styles *****************************/

.dropzone .itemlist {
    min-height: 120px !important;
}

.dropzone .itemlist > li {
    background-color: white;
    border: black;
    border-radius: .25em;
    color: black;
    float: left;
    font-weight: 500;
    height: 50px;
    margin: 6px;
    padding: 3px;
    text-align: center;
    width: 90%;
}

.dropzone .container-element {
    margin: 10px;
}

.box {
    margin-bottom: 20px;
    background-color: lightgrey;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.box > h3 {
    color: #333;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-padding {
    padding: 15px;
}

.box-blue {
    border-color: black;
}

.box-blue > h3 {
    color: #31708f;
    background-color: lightgray;
    border-color: black;
    background-image: -webkit-linear-gradient(top, lightgray 0, #c4e3f3 100%);
    background-image: linear-gradient(to bottom, lightgray 0, #c4e3f3 100%);
}

.myGrid {
    width: 100%;
    height: 250px;
}

ul#result li {
    display: inline;
}

.my-md-5 {
    width: 45%;
}

.my-md-6 {
    width: 51%;
    float: left;
}

.my-md-4 {
    width: 35%;
    float: left;
}


.center-modal {
    position: fixed;
    top: 10%;
    left: 18.5%;
    z-index: 1050;
    width: 80%;
    height: 80%;
    margin-left: -10%;
}

.brackets {
    min-height: 100%;
    font-family: "Arial", sans-serif;
}

.metroBtn {
    background-color: #2E7BCC;
    color: #fff;
    font-size: 1.1em;
    padding: 10px;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer;
}

.brackets > div {
    vertical-align: top;
    clear: both;
}

.brackets > div > div {
    float: left;
    height: 100%;
}

.brackets > div > div > div {
    margin: 50px 0;
}

.brackets div.bracketbox {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}

.brackets div.bracketbox > span.info {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 0.8em;
    color: #BBB;
}

.brackets div.bracketbox > span {
    position: absolute;
    left: 5px;
    font-size: 0.85em;
}

.brackets div.bracketbox > span.teama {
    top: -20px;
}

.brackets div.bracketbox > span.teamb {
    bottom: -0px;
}

.brackets div.bracketbox > span.teamc {
    bottom: 1px;
}

.brackets > .group2 {
    height: 260px;
}

.brackets > .group2 > div {
    width: 49%;
}

.brackets > .group3 {
    height: 320px;
}

.brackets > .group3 > div {
    width: 32.7%;
}

.brackets > .group4 > div {
    width: 24.5%;
}

.brackets > .group5 > div {
    width: 19.6%;
}

.brackets > .group6 {
    height: 2000px;
}

.brackets > .group6 > div {
    width: 16.3%;
}

.brackets > div > .r1 > div {
    height: 60px;
}

.brackets > div > .r2 > div {
    margin: 80px 0 110px 0;
    height: 110px;
}

.brackets > div > .r3 > div {
    margin: 135px 0 220px 0;
    height: 220px;
}

.brackets > div > .r4 > div {
    margin: 250px 0 445px 0;
    height: 445px;
}

.brackets > div > .r5 > div {
    margin: 460px 0 0 0;
    height: 900px;
}

.brackets > div > .r6 > div {
    margin: 900px 0 0 0;
}

.brackets div.final > div.bracketbox {
    border-top: 0px;
    border-right: 0px;
    height: 0px;
}

.brackets > div > .r4 > div.drop {
    height: 180px;
    margin-bottom: 0px;
}

.brackets > div > .r5 > div.final.drop {
    margin-top: 345px;
    margin-bottom: 0px;
    height: 1px;
}

.brackets > div > div > div:last-of-type {
    margin-bottom: 0px;
}

#overview-lists {
    font-size: xx-small;
}

.tt-table {
    background-color: green;
    /*float: left;*/
    margin: 5px;
    /*width: 31%;*/
    height: 100%;
    padding:10px;
    z-index: 1;
}

.table-n1 {
    font-size: small;
    font-weight: bold;
    text-align: center;
    z-index: 7;
    position: relative;
    color: white;
}

.table-n2 {
    font-size: small;
    font-weight: bold;
    text-align: center;
    z-index: 7;
    position: relative;
    color: white;
}

.table-nr {
    z-index: 2;
    overflow: hidden;
    font-size: 300%;
    position: absolute;

    color: darkgray;

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vr {
    position: absolute;
    margin-left: 2em;
    margin-top: 0.5em;
    width: 1px;
    border-left: 1px solid white;
    z-index: 7;
}

.mycontainer {
    margin-left: 5%;

}

.footer > div > a {
    margin: 0 .8em 0 0;
}
.footer {
    line-height: 1.7em;
    padding-top: 20px;
    /* Set the fixed height of the footer here */
    height: 25px;
}

.suspended-row {
    background-color: #ff0000 !important;
}

/*settings table*/
.tablelist ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

.tablelist li {
    display: block;
}

/***************************** Element type specific styles *****************************/

.tablelist .itemlist {
    min-height: 120px !important;
}

.tablelist .itemlist > li {
    background-color: #337ab7;
    border: none;
    border-radius: .25em;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 50px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    width: 80px;
}

.tablelist .container-element {
    margin: 10px;
}

.tableitem {
    background-color: #337ab7;
    border: none;
    border-radius: .25em;
    color: #fff;
    float: left;
    font-weight: 700;
    height: 50px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    width: 80px;
}