<h3>Auslosung</h3>
<div class="row">
    <div class="col-md-10">
        <h4>Parameter für die Auslosung einstellen</h4>
        <p style="font-weight: bold">Erste Phase</p>
        <p>Es sind {{players.length}} Spieler angemeldet</p>
        <form name="playerForm" class="container ng-scope ng-pristine ng-invalid ng-invalid-required" novalidate="" ng-submit="saveTC()">
            <div class="row">
                <div class="col-md-5">
                    <div class="control-group">
                        <label for="modus1">Modus <span class="required">*</span></label>
                        <br>
                        <select name="modus1" id="modus1" ng-model="tournamentClass.gameModePhase1" class="form-control ng-pristine ng-invalid ng-invalid-required">
                            <option value="">Bitte auswählen</option> <!-- not selected / blank option -->
                            <option value="g">Gruppe</option> <!-- interpolation -->
                            <option value="k">KO</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="playerPerGroup">Spieler/Gruppe</label>
                                <input type="number" ng-model="tournamentClass.playerPerGroup" name="playerPerGroup" required id="playerPerGroup"
                                       class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="control-group">
                                <label for="groupCount">Gruppenanzahl</label>
                                <input type="number" ng-model="tournamentClass.groupCount" name="groupCount" required id="groupCount" class="form-control ng-pristine ng-invalid ng-invalid-required"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <br>
                            <p style="margin-top: 10px">= {{resultSize}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </form>
        <button ng-click="createDummyPlayer()">Create 20 Player</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-3">

        <h4>Spieler</h4>
        <div class="playerlist">
            <ul dnd-list="list">
                <!-- The dnd-draggable directive makes an element draggable and will
                     transfer the object that was assigned to it. If an element was
                     dragged away, you have to remove it from the original list
                     yourself using the dnd-moved attribute -->
                <li ng-repeat="item in players"
                    dnd-draggable="item"
                    dnd-moved="list.splice($index, 1)"
                    dnd-effect-allowed="move"
                    dnd-selected="models.selected = item"
                    ng-class="{'selected': models.selected === item}"
                >
                    {{item.firstName + ' ' + item.lastName + ' - ' + item.club.name + ' - ' + item.qttr}}
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-7">
        <div>
            <button ng-click="automaticDraw()">Autom. Auslosung</button>
            <button ng-click="saveDraw()">Speichern</button>
        </div>
        <br>
        <div class="dropzone">
            <ul dnd-list="containers"
                class="group-list"
                dnd-external-sources="true">
                <li ng-repeat="items in groups"
                    dnd-draggable="items"
                    dnd-effect-allowed="copyMove"
                    dnd-moved="containers.splice($index, 1)">
                    <div class="container-element box box-blue">
                        <h3>{{items.name}}</h3>
                        <ul dnd-list="items"
                            dnd-horizontal-list="true"
                            dnd-external-sources="true"
                            dnd-inserted="logEvent('Element was inserted at position ' + index, event)"
                            class="itemlist">
                            <li ng-repeat="item in items.players"
                                dnd-draggable="item"
                                dnd-type="'itemType'"
                                dnd-effect-allowed="copyMove"
                                dnd-dragstart="logEvent('Started to drag an item', event)"
                                dnd-moved="items.splice($index, 1); logEvent('Item moved', event)"
                                dnd-copied="logEvent('Item copied', event)"
                                dnd-canceled="logEvent('Drag operation canceled', event)"
                                dnd-dragend="logEvent('Drag operation ended', event)">
                                <div>{{item.firstName + ' ' + item.lastName}}</div>

                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>